nav {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 10px;
}

.navbar {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-right: 10px;
}

.navbar ul li a {
  color: #000000;
  text-align: right;
  text-decoration: none;
}
